In [ ]:

ðŸŒŸ Exercise 1: Duplicate Detection and Removal
Instructions
Objective: Identify and remove duplicate entries in the Titanic dataset.

Load the Titanic dataset.
Identify if there are any duplicate rows based on all columns.
Remove any duplicate rows found in the dataset.
Verify the removal of duplicates by checking the number of rows before and after the duplicate removal.
Hint: Use the duplicated() and drop_duplicates() functions in Pandas.



ðŸŒŸ Exercise 2: Handling Missing Values
Instructions
Identify columns in the Titanic dataset with missing values.
Explore different strategies for handling missing data, such as removal, imputation, and filling with a constant value.
Apply each strategy to different columns based on the nature of the data.
Hint: Review methods like dropna(), fillna(), and SimpleImputer from scikit-learn.



ðŸŒŸ Exercise 3: Feature Engineering
Instructions
Create new features, such as Family Size from SibSp and Parch, and Title extracted from the Name column.
Convert categorical variables into numerical form using techniques like one-hot encoding or label encoding.
Normalize or standardize numerical features if required.
Hint: Utilize Pandas for data manipulation and scikit-learnâ€™s preprocessing module for encoding.



ðŸŒŸ Exercise 4: Outlier Detection and Handling
Instructions
Use statistical methods to detect outliers in columns like Fare and Age.
Decide on a strategy to handle the identified outliers, such as capping, transformation, or removal.
Implement the chosen strategy and assess its impact on the dataset.
Hint: Explore methods like IQR (Interquartile Range) and Z-score for outlier detection.



ðŸŒŸ Exercise 5: Data Standardization and Normalization
Instructions
Assess the scale and distribution of numerical columns in the dataset.
Apply standardization to features with a wide range of values.
Normalize data that requires a bounded range, like [0, 1].
Hint: Consider using StandardScaler and MinMaxScaler from scikit-learnâ€™s preprocessing module.



ðŸŒŸ Exercise 6: Feature Encoding
Instructions
Identify categorical columns in the Titanic dataset, such as Sex and Embarked.
Use one-hot encoding for nominal variables and label encoding for ordinal variables.
Integrate the encoded features back into the main dataset.
Hint: Utilize pandas.get_dummies() for one-hot encoding and LabelEncoder from scikit-learn for label encoding.



ðŸŒŸ Exercise 7: Data Transformation for Age Feature
Instructions
Create age groups (bins) from the Age column to categorize passengers into different age categories.
Apply one-hot encoding to the age groups to convert them into binary features.
Hint: Use pd.cut() for binning the Age column and pd.get_dummies() for one-hot encoding.

In [12]:

# ðŸŒŸ Exercise 1: Duplicate Detection and Removal
# Instructions
# Objective: Identify and remove duplicate entries in the Titanic dataset.

# Load the Titanic dataset.
# Identify if there are any duplicate rows based on all columns.
# Remove any duplicate rows found in the dataset.
# Verify the removal of duplicates by checking the number of rows before and after the duplicate removal.
# Hint: Use the duplicated() and drop_duplicates() functions in Pandas.

import pandas as pd
titanic_data = pd.read_csv('train.csv')
print(titanic_data.head())

#show duplicates
duplicates = titanic_data[titanic_data.duplicated()]
print(duplicates)

# Remove duplicate rows
titanic_data = titanic_data.drop_duplicates()
print(titanic_data)

# Verify duplicates are removed
print(titanic_data.duplicated().sum())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
0

In [29]:
# ðŸŒŸ Exercise 2: Handling Missing Values
# Instructions
# Identify columns in the Titanic dataset with missing values.
# Explore different strategies for handling missing data, such as removal, imputation, and filling with a constant value.
# Apply each strategy to different columns based on the nature of the data.
# Hint: Review methods like dropna(), fillna(), and SimpleImputer from scikit-learn.

print(f" train_data missing values count: \n{titanic_data.isnull().sum()}\n")
#not changing anything, just viewing the dataset
print(f" train_data missing values count: \n{Cabin_drop.isnull().sum()}\n")

 train_data missing values count:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

 train_data missing values count:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64

In [36]:
Cabin_drop = titanic_data.drop(columns=['Cabin'])
#droping the column to create a new data frame that has everything but cabin.

mode_embarked = Cabin_drop['Embarked'].mode()
print(mode_embarked)

Cabin_drop['Embarked'] = Cabin_drop['Embarked'].fillna('S')
Cabin_drop = Cabin_drop.fillna({'Age': Cabin_drop['Age'].mean()})
Cabin_drop.head()

0    S
Name: Embarked, dtype: object

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [ ]:
# ðŸŒŸ Exercise 3: Feature Engineering
# Instructions
# Create new features, such as Family Size from SibSp and Parch, and Title extracted from the Name column.
# Convert categorical variables into numerical form using techniques like one-hot encoding or label encoding.
# Normalize or standardize numerical features if required.
# Hint: Utilize Pandas for data manipulation and scikit-learnâ€™s preprocessing module for encoding.

Cabin_drop['Family_Size'] = Cabin_drop['SibSp'] + Cabin_drop['Parch'] + 1
Cabin_drop['Title'] = Cabin_drop['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)
print(Cabin_drop)

from sklearn.preprocessing import LabelEncoder
Cabin_drop = pd.DataFrame({'Title': ['Mr', 'Mrs', 'Miss', 'Master', 'Dr']})
label_encoder = LabelEncoder()
Cabin_drop['Title_encoded'] = label_encoder.fit_transform(Cabin_drop['Title'])
print(Cabin_drop[['Title', 'Title_encoded']])

scaler_minmax = MinMaxScaler()
Cabin_drop[['Age', 'Fare']] = scaler_minmax.fit_transform(Cabin_drop[['Age', 'Fare']])
scaler_standard = StandardScaler()
Cabin_drop[['Age', 'Fare']] = scaler_standard.fit_transform(Cabin_drop[['Age', 'Fare']])
print(Cabin_drop)

#Keep getting error KeyError: 'SibSp'

KeyError: 'SibSp'

In [86]:
# ðŸŒŸ Exercise 4: Outlier Detection and Handling
# Instructions
# Use statistical methods to detect outliers in columns like Fare and Age.
# Decide on a strategy to handle the identified outliers, such as capping, transformation, or removal.
# Implement the chosen strategy and assess its impact on the dataset.
# Hint: Explore methods like IQR (Interquartile Range) and Z-score for outlier detection.
import numpy
import pandas

Q1 = Cabin_drop[['Age', 'Fare']].quantile(0.25)
Q3 = Cabin_drop[['Age', 'Fare']].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = (Cabin_drop < lower_bound) | (Cabin_drop > upper_bound)
print("Outliers Detected Using IQR:")
print(outliers)


Cabin_drop['Age'] = np.where(Cabin_drop['Age'] > upper_bound['Age'], upper_bound['Age'], Cabin_drop['Age'])
Cabin_drop['Fare'] = np.where(Cabin_drop['Fare'] > upper_bound['Fare'], upper_bound['Fare'], Cabin_drop['Fare'])

print("\nData After Handling Outliers:")
print(Cabin_drop)

#Keep getting error KeyError: "None of [Index(['Age', 'Fare'], dtype='object')] are in the [columns]"

KeyError: "None of [Index(['Age', 'Fare'], dtype='object')] are in the [columns]"

In [88]:

# ðŸŒŸ Exercise 5: Data Standardization and Normalization
# Instructions
# Assess the scale and distribution of numerical columns in the dataset.
# Apply standardization to features with a wide range of values.
# Normalize data that requires a bounded range, like [0, 1].
# Hint: Consider using StandardScaler and MinMaxScaler from scikit-learnâ€™s preprocessing module.

import seaborn as sns
import matplotlib.pyplot as plt
sns.kdeplot(titanic_data['Age'][titanic_data['Age'].notnull()], label="known ages")
sns.kdeplot(titanic_data['missing_Age'], label="imputed ages")
plt.legend()
plt.show()

KeyError: 'Age'

In [ ]:

# ðŸŒŸ Exercise 6: Feature Encoding
# Instructions
# Identify categorical columns in the Titanic dataset, such as Sex and Embarked.
# Use one-hot encoding for nominal variables and label encoding for ordinal variables.
# Integrate the encoded features back into the main dataset.
# Hint: Utilize pandas.get_dummies() for one-hot encoding and LabelEncoder from scikit-learn for label encoding.


import pandas as pd
from sklearn.preprocessing import LabelEncoder

titanic_data = pd.read_csv('train.csv')

# 1. One-Hot Encoding for Nominal Variables
titanic_data = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'], drop_first=True)

# 2. Label Encoding for Ordinal Variables (if needed)
# (Assume 'Class' column is ordinal: [1st, 2nd, 3rd])
titanic_data['Class'] = ['3rd', '1st', '3rd', '2nd', '1st']
label_encoder = LabelEncoder()
titanic_data['Class_encoded'] = label_encoder.fit_transform(titanic_data['Class'])

# Drop original 'Class' column if desired
titanic_data.drop('Class', axis=1, inplace=True)

# Print the final DataFrame
print(titanic_data)

ValueError: Length of values (5) does not match length of index (891)

In [93]:
# ðŸŒŸ Exercise 7: Data Transformation for Age Feature
# Instructions
# Create age groups (bins) from the Age column to categorize passengers into different age categories.
# Apply one-hot encoding to the age groups to convert them into binary features.
# Hint: Use pd.cut() for binning the Age column and pd.get_dummies() for one-hot encoding.

import pandas as pd

age_bins = [0, 12, 18, 35, 60, 100]  # Define bin edges
age_labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Senior']  # Define bin labels
titanic_data['Age_Group'] = pd.cut(titanic_data['Age'], bins=age_bins, labels=age_labels, right=False)

print("DataFrame with Age Groups:")
print(titanic_data)

titanic_data = pd.get_dummies(titanic_data, columns=['Age_Group'], prefix='AgeGroup', drop_first=False)

print("\nDataFrame with One-Hot Encoded Age Groups:")
print(titanic_data)

DataFrame with Age Groups:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name   Age  SibSp  Parch  \
0                              Braund, Mr. Owen Harris  22.0      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                               Heikkinen, Miss. Laina  26.0      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                             Allen, Mr. William Henry  35.0      0      0
..                                                 ...   ...    ...    ...
886                              Montvila, Rev. Juozas  27.0      0      0
887                       Graham, Miss. Margaret Edith  19.0      0      0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN      1      2
889                              Behr, Mr. Karl Howell  26.0      0      0
890                                Dooley, Mr. Patrick  32.0      0      0

               Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S  \
0           A/5 21171   7.2500   NaN      True       False        True
1            PC 17599  71.2833   C85     False       False       False
2    STON/O2. 3101282   7.9250   NaN     False       False        True
3              113803  53.1000  C123     False       False        True
4              373450   8.0500   NaN      True       False        True
..                ...      ...   ...       ...         ...         ...
886            211536  13.0000   NaN      True       False        True
887            112053  30.0000   B42     False       False        True
888        W./C. 6607  23.4500   NaN     False       False        True
889            111369  30.0000  C148      True       False       False
890            370376   7.7500   NaN      True        True       False

       Age_Group
0    Young Adult
1          Adult
2    Young Adult
3          Adult
4          Adult
..           ...
886  Young Adult
887  Young Adult
888          NaN
889  Young Adult
890  Young Adult

[891 rows x 14 columns]

DataFrame with One-Hot Encoded Age Groups:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name   Age  SibSp  Parch  \
0                              Braund, Mr. Owen Harris  22.0      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                               Heikkinen, Miss. Laina  26.0      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                             Allen, Mr. William Henry  35.0      0      0
..                                                 ...   ...    ...    ...
886                              Montvila, Rev. Juozas  27.0      0      0
887                       Graham, Miss. Margaret Edith  19.0      0      0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN      1      2
889                              Behr, Mr. Karl Howell  26.0      0      0
890                                Dooley, Mr. Patrick  32.0      0      0

               Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S  \
0           A/5 21171   7.2500   NaN      True       False        True
1            PC 17599  71.2833   C85     False       False       False
2    STON/O2. 3101282   7.9250   NaN     False       False        True
3              113803  53.1000  C123     False       False        True
4              373450   8.0500   NaN      True       False        True
..                ...      ...   ...       ...         ...         ...
886            211536  13.0000   NaN      True       False        True
887            112053  30.0000   B42     False       False        True
888        W./C. 6607  23.4500   NaN     False       False        True
889            111369  30.0000  C148      True       False       False
890            370376   7.7500   NaN      True        True       False

     AgeGroup_Child  AgeGroup_Teen  AgeGroup_Young Adult  AgeGroup_Adult  \
0             False          False                  True           False
1             False          False                 False            True
2             False          False                  True           False
3             False          False                 False            True
4             False          False                 False            True
..              ...            ...                   ...             ...
886           False          False                  True           False
887           False          False                  True           False
888           False          False                 False           False
889           False          False                  True           False
890           False          False                  True           False

     AgeGroup_Senior
0              False
1              False
2              False
3              False
4              False
..               ...
886            False
887            False
888            False
889            False
890            False

[891 rows x 18 columns]